@keyframes moveBackground {
  0% {
    background-position:
            0 0,
            0 0;
  }
  100% {
    background-position:
            100% 100%,
            100% 100%;
  }
}
@keyframes colourChange {
  0% { color: red; text-shadow: 0 0 5px red; }
  14% { color: orange; text-shadow: 0 0 5px orange; }
  28% { color: yellow; text-shadow: 0 0 5px yellow; }
  42% { color: green; text-shadow: 0 0 5px green; }
  56% { color: aquamarine; text-shadow: 0 0 5px aquamarine; }
  70% { color: blue; text-shadow: 0 0 5px blue; }
  85% { color: indigo; text-shadow: 0 0 5px indigo; }
  100% { color: violet; text-shadow: 0 0 5px violet; }
}

:root {
  --bg: #0a090c;
  --bg-secondary: #07393c;
  --text: #f0edee;

  --bg-sizing: 25px;
  --bg-lines-thickness: 24px; /* usually gonna be 1px less that the bg sizing */

  --document-padding: 1em;

  font-family: "JetBrains Mono", monospace;
}
body {
  min-height: 100vh;
  margin: 0;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;

  /* cool grid */
  color: var(--text);
  background-color: var(--bg);
  background-image:
    /* Vertical line */
          repeating-linear-gradient(
                  0deg,
                  transparent 0,
                  transparent var(--bg-lines-thickness),
                  var(--bg-secondary) var(--bg-sizing)
          ),
            /* Horizontal line */
          repeating-linear-gradient(
                  90deg,
                  transparent 0,
                  transparent var(--bg-lines-thickness),
                  var(--bg-secondary) var(--bg-sizing)
          );
  background-size: var(--bg-sizing) var(--bg-sizing);

  /* make it move */
  animation: moveBackground 120s linear infinite;
}
main {
  display: flex;
  align-items: center;
  flex-direction: column;

  padding: var(--document-padding) var(--document-padding);
}

h1, h2 {
  color: #fff;
  text-shadow: 0 0 10px #00f0f0;

}
h1 {
  font-size: 75px;
}
h2 {
  font-size: 50px;
}

/* contains the differnt text divs */
.container {
  display: flex;
  gap: 20px;
}
.text {
  flex: 1 1 calc(33.33% - 20px);
  background-color: rgba(144, 221, 240, 0.2);
  padding: 1rem;
  border-radius: 1.5rem;

  transition: 200ms;

  display: flex;
  align-items: center;
  flex-direction: column;
}
.text:hover {
  transform: scale(1.02);
}

a:link {
  color: #ff5555;
}
a:visited {
  color: #ffc3c3;
}

table {
  border-collapse: collapse;
}

th {
  font-size: 20px;
}

th,
td {
  border: 1px ghostwhite solid; /* Add a 1px black border to all cells */
  padding: 10px; /* Add padding for better readability */
}

footer {
  padding-bottom: var(--document-padding);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.rainbow {
  animation: colourChange 1.25s infinite;
  font-weight: bold;
  font-size: 20px;
}

kbd {
  padding: 3px;
  background: var(--bg-secondary);
  font-weight: bold;
  border-radius: .25rem;
  border: white solid 1px;
}